.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.splashphoto {
  position: relative;
  width: 100%;
  height: 30%;
  background-position: center center;
  background-repeat: no-repeat;
}

.woman {
  position: relative;
  width: 100%;
  height: auto;
  background-position: center center;
  background-repeat: no-repeat;
  /* padding-top: 8rem; */
  padding-bottom: 8rem;
  background-repeat: no-repeat;
  background-size: cover
}
.logo{
  position: absolute;
  width: 650px;
  height: 380px;
  top: 100px;
  left: 100px;
}